// Used when NOT on a wordpress website, but want elements

// Colors
$primary-color: #e51c3a !default;
$secondary-color: #2a3140 !default;

$light-color: #FBFBFB !default;
$dark-color: #232323 !default;

:root {

  --wp--preset--color--white: #fff;
  --wp--preset--color--black: #000;

  --wp--preset--color--primary: #{$primary-color};
  --wp--preset--color--secondary: #{$secondary-color};
  --wp--preset--color--light: #{$light-color};
  --wp--preset--color--dark: #{$dark-color};
}

.has-primary-background-color {
  background-color: var(--wp--preset--color--primary) !important;
}

.has-secondary-background-color {
  background-color: var(--wp--preset--color--secondary) !important;
}

.has-light-background-color {
  background-color: var(--wp--preset--color--light) !important;
}

.has-dark-background-color {
  background-color: var(--wp--preset--color--dark) !important;
}

// Fonts
:root {
  --wp--preset--font-size--small: 0.813rem;
  --wp--preset--font-size--medium: 1rem;
}

// Spacing and Layout
$root-padding: 16px !default;

:root {
  --wp--style--root--padding-right: #{$root-padding};
  --wp--style--root--padding-left: #{$root-padding};

  --wp--style--global--content-size: 1200px;
  --wp--style--global--wide-size: 1500px;
}

.has-global-padding,
[class^=wp-block-patter]:not(.aligncenter) {
  padding-right: var(--wp--style--root--padding-right, 16px);
  padding-left: var(--wp--style--root--padding-left, 16px);
}

.has-global-padding>.alignfull {
  margin-right: calc(var(--wp--style--root--padding-right) * -1);
  margin-left: calc(var(--wp--style--root--padding-left) * -1);
}

.is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}

.is-layout-constrained>.alignwide {
  max-width: var(--wp--style--global--wide-size);
}

.is-layout-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > :is(*, div) {
    margin: 0;
  }
}

.items-justified-center {
  justify-content: center;
}

.items-justified-right {
  justify-content: flex-end;
}

.items-justified-space-between {
  justify-content: space-between;
}
