@use "../abstracts" as *;

@each $name,
$value in $content-sections {
  .#{$name}-section {
    padding-top: $value !important;
    padding-bottom: $value !important;

    @include media("<phone") {
      padding-top: ($value* 0.7) !important;
      padding-bottom: ($value * 0.7) !important;
    }

    &--bottom {
      padding-bottom: $value !important;

      @include media("<phone") {
        padding-bottom: ($value * 0.7) !important;
      }
    }

    &--top {
      padding-top: $value !important;

      @include media("<phone") {
        padding-top: ($value * 0.7) !important;
      }
    }
  }
}
