@use "../abstracts" as *;

// Setup overwritable vars
:root {

  @each $name,
  $value in $content-sections {
    --patter--content-section--#{$name}: #{$value};
  }
}

@each $name,
$value in $content-sections {

  $sizingString: var(--patter--content-section--#{$name}, $value);

  .#{$name}-section {
    padding-top: $sizingString !important;
    padding-bottom: $sizingString !important;

    @include media("<phone") {
      padding-top: calc(#{$sizingString} * 0.7) !important;
      padding-bottom: calc(#{$sizingString} * 0.7) !important;
    }

    &--bottom {
      padding-bottom: $sizingString !important;

      @include media("<phone") {
        padding-bottom: calc(#{$sizingString} * 0.7) !important;
      }
    }

    &--top {
      padding-top: $sizingString !important;

      @include media("<phone") {
        padding-top: calc(#{$sizingString} * 0.7) !important;
      }
    }
  }
}
