@use "../abstracts" as *;

$content-width-thin: var(--wp--custom--layout--thin-size, 800px);

// Mostly patter container
// Expects to be inside .has-global-padding for left/right padding
.container {
  max-width: var(--wp--style--global--content-size, 1100px);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &--wide {
    max-width: var(--wp--style--global--wide-size, 1400px);
  }

  &--thin {
    max-width: $content-width-thin;
  }

  &--ultra-thin {
    max-width: calc($content-width-thin * 0.6);
  }

}

.aligncenter {
  max-width: $content-width-thin !important;
}

// Patter Gutenberg blocks
[class^="wp-block-patter"] {

  +[class^="wp-block-patter"] {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  &:not(.aligncenter) {
    padding-left: var(--wp--style--root--padding-left, 16px);
    padding-right: var(--wp--style--root--padding-right, 16px);
  }

  // Patter blocks inside wrapper?
  >.container>[class^="wp-block-patter"] {
    padding-left: 0;
    padding-right: 0;
  }

}
