@use "../abstracts" as *;




//==================
// Grid
//==================

// .grid-list controls the column widths unlike .flex-and-wrap-justify

// .grid-list--col-2
// .grid-list--col-2--sm

.grid-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: calc(var(--wp--custom--content--gap, 40px) / 2);

  @include media(">=phone") {
    gap: var(--wp--custom--content--gap, 40px);
    grid-auto-rows: 1fr; // Make all rows same height
  }

  &.is-style-no-gap {
    gap: 0;
  }

  &.is-style-tiny-gap {
    gap: 4px !important;
  }

  &.is-style-smaller-gap {
    @include media(">=phone") {
      gap: calc(var(--wp--custom--content--gap, 40px) / 2);
    }
  }

  &.is-style-larger-gap {
    @include media(">=phone") {
      gap: calc(var(--wp--custom--content--gap, 40px) * 2) !important;
    }
  }

  &--col-2--sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include media(">=phone") {
    &--col-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .full_width {
        grid-column: span 2 !important;
      }
    }

    &--col-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .full_width {
        grid-column: span 3 !important;
      }
    }

    &--col-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));

      .full_width {
        grid-column: span 4 !important;
      }
    }

    &--col-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));

      .full_width {
        grid-column: span 5 !important;
      }
    }
  }

  .full_width {
    grid-column: span 1; // Default for single column
  }

  // Twelve column grid
  &--grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));

    .full_width {
      grid-column: span 12 !important;
    }
  }

}


//==================
// Grid (Using Flex)
//==================

// FLEX COLUMNS 
// Wrap with .flex-and-wrap-justify

.full_width {
  flex-basis: 100%;
}

.one_half,
.one_fourth,
.three_fourth,
.one_third,
.two_third,
.one_fifth,
.two_fifth,
.three_fifth {
  flex-basis: 100%;
}

@include media(">=phone") {

  // Mod 2/4
  .one_half {
    flex-basis: 48%;

    .is-style-larger-gap & {
      flex-basis: 46%
    }

    &--border-after {

      position: relative;

      &:after {
        content: '';
        position: absolute;
        border-right: 1px solid var(--wp--custom--color--border);
        height: 100%;
        right: -4%;
        top: 0;
      }
    }
  }

  .one_fourth {
    flex-basis: 22%;

    .is-style-larger-gap & {
      flex-basis: 19%;
    }
  }

  .three_fourth {
    flex-basis: 74%;

    .is-style-larger-gap & {
      flex-basis: 73%;
    }
  }

  // Mod 3
  .one_third {
    flex-basis: 30.66%;

    .is-style-larger-gap & {
      flex-basis: 28%;
    }
  }

  .two_third {
    flex-basis: 65.33%;

    .is-style-larger-gap & {
      flex-basis: 64%;
    }
  }

  // Mod 5
  .one_fifth {
    flex-basis: 16.8%;

    .is-style-larger-gap & {
      flex-basis: 13.6%;
    }
  }

  .two_fifth {
    flex-basis: 37.6%;

    .is-style-larger-gap & {
      flex-basis: 35.2%;
    }
  }

  .three_fifth {
    flex-basis: 58.4%;

    .is-style-larger-gap & {
      flex-basis: 56.8%;
    }
  }

  .is-style-smaller-gap {
    .one_half {
      flex-basis: 49.75%;
    }

    .one_third {
      flex-basis: 33%
    }

    .one_fourth {
      flex-basis: 24.625%
    }
  }

}

// 8% margin (not really for 4 cols)
// .span_3_of_4 { width: 73%;
// .span_2_of_4 { width: 46%;
// .span_1_of_4 { width: 19%;
// .span_2_of_3 { width: 64%;
// .span_1_of_3 { width: 28%;
// .span_3_of_5 { width: 56.8%;
// .span_2_of_5 { width: 35.2%;
// .span_1_of_5 { width: 13.6%;

// 4% margin
// .span_3_of_4 { width: 74%;
// .span_2_of_4 { width: 48%;
// .span_1_of_4 { width: 22%;
// .span_2_of_3 { width: 65.33%;
// .span_1_of_3 { width: 30.66%;
// .span_3_of_5 { width: 58.4%;
// .span_2_of_5 { width: 37.6%;
// .span_1_of_5 { width: 16.8%;

// 2% margin
// .span_3_of_4 { width: 74.5%
// .span_2_of_4 { width: 49%
// .span_1_of_4 { width: 23.5%
// .span_2_of_3 { width: 66%;
// .span_1_of_3 { width: 32%;
