@use "../abstracts" as *;

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container {
  padding-left: 16px;
  padding-right: 16px;
}

// "fix" reusable blocks, may have to remove
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container {
  .block-library-block__reusable-block-container {
    max-width: none !important;
  }
}

// Dashboard Widget
#patter_dashboard_widget_intro {
  .postbox-header {
    background-color: #e51c3a;

    * {
      color: white;
    }
  }

  h3 {
    font-weight: bold;
  }

  h4 {
    text-decoration: underline;
  }
}

// Admin scss
// Waiting for this to be fixed, https://github.com/WordPress/gutenberg/pull/41768
// + for experimental number control
.components-base-control,
.components-number-control {
  width: 100%;
}

.components-base-control.components-range-control {
  .components-base-control {
    width: initial;
  }
}

// Sidebar width
.edit-post-sidebar {
  @include media(">tablet") {
    width: 380px; // width: 450px;
  }
}

// // Remove width for Patter / ACF Blocks
// // Wordpress 5.9 and down
// .wp-block[data-type^="acf"] {
//   max-width: none !important;
// }

.editor-styles-wrapper {
  .h1 {
    font-size: var(--wp--custom--typography--font-size--heading-1);
  }

  .h2 {
    font-size: var(--wp--custom--typography--font-size--heading-2);
  }

  .h3 {
    font-size: var(--wp--custom--typography--font-size--heading-3);
  }
}

// Random bug with theme page buttons not displaying correctly
.theme-id-container,
.theme-browser .theme .theme-name {
  box-sizing: unset;
}
