@use "../abstracts" as *;

// Patter Options page

.settings_page_patter-content-options-page {

  #wpcontent {
    padding-left: 0;
  }

  .notice {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
      margin: 0.5em 0;
    }
  }

  .patter-content-options-page {

    &__heading {
      text-align: center;
      background: #fff;
      border-bottom: 1px solid #dcdcde;

      h1 {
        font-weight: 600;
        margin: 0;
        font-size: 23px;
      }
    }

    .form-table th {
      width: 210px;
    }

  }

}
