/**
 * Native Gutenberg Button Blocks
 */

// .wp-element-button, - Also used, needed?

.wp-block-button__link {
  // Most bits are defined by the native theme.json output
  appearance: none;
  padding: var(--wp--custom--content--button-input-padding-y, 20px) var(--wp--custom--content--button-input-padding-x, 40px) !important;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  // border: 2px solid var(--wp--preset--color--primary);
  // border-radius: var(--wp--custom--default-border-radius, 0);

  &:focus,
  &:hover {
    border-color: var(--wp--custom--color--primary-hover);
    background-color: var(--wp--custom--color--primary-hover);
  }

  // Outline / Transparent button (default style set through guttenburg)
  .is-style-outline & {

    &:focus,
    &:hover {
      border-color: var(--wp--custom--color--primary-hover) !important;
      color: var(--wp--custom--color--primary-text) !important;
      background-color: var(--wp--custom--color--primary-hover) !important;
    }
  }

  // Dark button
  .is-style-dark-button & {
    background-color: var(--wp--preset--color--dark) !important;
    color: var(--wp--custom--color--primary-text) !important;
    border-color: var(--wp--preset--color--dark) !important;

    &:focus,
    &:hover {
      border-color: var(--wp--custom--color--primary-hover) !important;
      background-color: var(--wp--custom--color--primary-hover) !important;
    }
  }

  // White button
  .is-style-white-button & {
    background-color: var(--wp--preset--color--white) !important;
    color: var(--wp--preset--color--dark) !important;
    border-color: var(--wp--preset--color--dark) !important;

    &:focus,
    &:hover {
      border-color: var(--wp--custom--color--primary-hover) !important;
      color: var(--wp--custom--color--primary-text) !important;
      background-color: var(--wp--custom--color--primary-hover) !important;
    }
  }

  // Error button
  .is-style-error-button & {
    background-color: var(--wp--custom--color--error) !important;
    color: var(--wp--custom--color--primary-text) !important;
    border-color: var(--wp--custom--color--error) !important;

    &:focus,
    &:hover {
      border-color: var(--wp--custom--color--primary-hover) !important;
      background-color: var(--wp--custom--color--primary-hover) !important;
    }
  }

  // Smaller button size, added via "Patter Gutenberg blocks" plugin
  .is-style-smaller-element & {
    padding: calc(var(--wp--custom--content--button-input-padding-y) * 0.8) calc(var(--wp--custom--content--button-input-padding-x) * 0.75) !important;
  }

  &:disabled,
  &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    background-color: var(--wp--preset--color--dark);
    border-color: var(--wp--preset--color--dark);
    pointer-events: none;
  }
}
