@use "../abstracts" as *;

.rounded-img {
  border-radius: var(--wp--custom--default-border-radius, 10px);
}

.square-img {
  border-radius: 0;
}

.shadow-img {
  box-shadow: -8px 8px 0 0 var(--wp--preset--color--primary);

  @include media(">=phone") {
    box-shadow: -20px 20px 0 0 var(--wp--preset--color--primary);
  }

}

.edit-post-link {
  margin: var(--wp--custom--content--min-padding, 16px);
  z-index: 9999;

  @include media(">=desktop") {
    margin: 0;
    position: fixed;
    bottom: 50px;
    left: 50px;
  }
}

.tile-as-button {
  cursor: pointer;
}
