@use "../abstracts" as *;

// TODO - Re look at block gap post wordpress 6.1
// look at --wp--style--block-gap, "styles": {  "spacing": {  "blockGap": "2rem"
// Removed for now --wp--style--block-gap > --wp--custom--content--gap

// Image
.wp-block-image {
  margin-bottom: 0;
}

p+.wp-block-image {
  margin-block-start: 1.5rem;
}

// Embeds
.wp-block-embed {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Buttons
// core/buttons, core/button
.wp-block-buttons,
.wp-block-buttons.is-layout-flex {
  column-gap: calc(var(--wp--custom--content--gap, 40px) / 2);
}

p+.wp-block-buttons {
  margin-block-start: 1.5rem;
}

// Columns
// core/columns
.wp-block-patter-block-wrapper-000 {
  .wp-block-columns {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wp-block-columns,
.wp-block-columns.is-layout-flex {
  gap: var(--wp--custom--content--gap, 40px) !important;

  @include media("<phone") {
    gap: calc(var(--wp--custom--content--gap, 40px) / 2) !important;
  }

  &.is-style-no-gap {
    gap: 0 !important;
  }

  &.is-style-larger-gap {
    gap: calc(var(--wp--custom--content--gap, 40px) * 2) !important;

    @include media("<phone") {
      gap: var(--wp--custom--content--gap, 40px) !important;
    }
  }
}

.wp-block-columns.is-style-no-gap:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
  margin-left: 0;
}

// Groups/Stacks
.wp-block-group,
.wp-block-group.is-layout-flex {
  gap: calc(var(--wp--custom--content--gap, 40px) / 2) !important;

  &.is-style-center--sm {
    justify-content: center;
  }
}

// Gallery
.wp-block-gallery {
  row-gap: var(--gallery-block--gutter-size, 16px);
}

// Cover Block
.wp-block-cover {

  &.alignfull {
    width: unset;
  }

  &__inner-container {
    max-width: var(--wp--custom--layout--thin-size, 800px);
  }
}

// Cover Block & others
.is-style-rounded {
  border-radius: var(--wp--custom--rounded-border-radius, 10px);
  overflow: hidden;

  img {
    border-radius: var(--wp--custom--rounded-border-radius, 10px) !important;
    overflow: hidden;
  }
}

// Patter gutenberg blocks
.block-full-height {
  min-height: 100vh;

  &:has(> .container__patter_block_inner) {
    display: flex;
    align-items: center;
  }
}

.is-style-box-shadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

// Table block
.wp-block-table {

  table {
    border-spacing: 4px;

    thead {
      th {
        border: 1px solid var(--wp--preset--color--secondary, var(--wp--preset--color--dark, #000000));
        background-color: var(--wp--preset--color--secondary, var(--wp--preset--color--dark, #000000));
        color: var(--wp--preset--color--white, #ffffff);

        // &:not(:last-child) {
        //   border-right-color: red;
        // }
      }
    }
  }

  &.is-style-separated {
    table {
      border-collapse: separate;
    }
  }
}
