//============
// Global styles
//============

// Global Resets 

html {
  box-sizing: border-box;
  overflow-x: clip;
}

body {
  overflow-x: clip;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

figure,
fieldset,
legend,
pre,
iframe {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block; // Or inline-block? always makes full width
  height: auto;
}
