@use "../abstracts" as *;

// Helpful
// https://modern-fluid-typography.vercel.app/

//============
// Typography
//============

// General
p {

  &:first-child:not(:last-child) {
    margin-top: 0;
  }

  &:last-child:not(:first-child) {
    margin-bottom: 0;
  }

  &.is-style-larger {
    font-size: var(--wp--preset--font-size--large) !important;

    @include media("<phone") {
      font-size: calc(var(--wp--preset--font-size--large) * 0.9) !important;
    }
  }

  &.is-style-x-larger {
    font-size: var(--wp--preset--font-size--x-large) !important;

    @include media("<phone") {
      font-size: calc(var(--wp--preset--font-size--x-large) * 0.9) !important;
    }
  }

  &.is-style-smaller {

    font-size: var(--wp--preset--font-size--small) !important;

    &--sm {
      @include media("<phone") {
        font-size: var(--wp--preset--font-size--small) !important;
      }
    }
  }

}


// Headings 
h1,
h2,
h3,
h4,
h5 {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // Covered in padding
  &.small-section--bottom {
    margin-bottom: 0;
  }
}

.h1 {
  font-size: var(--wp--custom--typography--font-size--heading-1);
}

h1.is-style-larger,
.h1.is-style-larger {
  @include media(">=phone") {
    font-size: calc(var(--wp--custom--typography--font-size--heading-1) * 1.25) !important;
  }
}

.h2 {
  font-size: var(--wp--custom--typography--font-size--heading-2);
}

h2.is-style-larger,
.h2.is-style-larger {
  @include media(">=phone") {
    font-size: var(--wp--custom--typography--font-size--heading-1) !important;
  }
}

.h3 {
  font-size: var(--wp--custom--typography--font-size--heading-3);
}

h3.is-style-larger,
.h3.is-style-larger {
  @include media(">=phone") {
    font-size: var(--wp--custom--typography--font-size--heading-2) !important;
  }
}

h4.is-style-larger,
.h4.is-style-larger {
  @include media(">=phone") {
    font-size: var(--wp--custom--typography--font-size--heading-3) !important;
  }
}


.white-space-pre {
  white-space: pre;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

// Wordpress addition
.has-huge-font-size {
  line-height: 1.5;
}
