//============
// Colors
//============

$primary: #e51c3a !default;
$secondary: #2a3140 !default;
$heading: #171717 !default;
$text: #171717 !default;
$danger: #d8000c !default;

$darken: 25 !default;
$lighten: 15 !default;

$colors: (
  primary: (
    base: $primary,
    dark: darken($primary, $darken),
    light: lighten($primary, $lighten),
  ),
  secondary: (
    base: $secondary,
    dark: darken($secondary, $darken),
    light: lighten($secondary, $lighten),
  ),
  heading: (
    base: $heading
  ),
  text: (
    base: $text
  ),
  danger: (
    base: $danger
  )
);