//============
// Mixins
//============

//Overlay
//Ex: @include overlay(#000000, 0.2)
@mixin overlay($color, $opacity) {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: $color;
    opacity: $opacity;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

// //Square sized elements
// //Ex: @include square(8rem)
// @mixin square($size) {
//   width: $size;
//   height: $size;
// }

// //Pseudo default
// //Ex: @include pseudo
// @mixin pseudo {
//   content: "";
//   position: absolute;
//   display: block;
// }

// //Truncate Text
// //Ex: @inlcude truncate(480px)
// @mixin truncate($max-width) {
//   max-width: $max-width;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }


//Flexbox
//Ex: @include flex-center-column
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-x {
  display: flex;
  align-items: center;
}

@mixin flex-center-y {
  display: flex;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}


//Background
//Ex: @include background-cover
@mixin background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
